body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    padding-top: 20px;
}

.work-area {
    margin-left: 200px; /* Adjust according to sidebar width */
    padding: 20px;
    min-height: 700px; /* Set minimum height for the work area */
    border: 2px dashed #ccc; /* Add dashed border for visual indication */
    /* display: flex;
    flex-wrap: wrap; */
}

/* .work-area div {
    /* Add styling for individual divs (optional) 
    width: [desired width]; /* Set the width of each div 
    margin: [desired margin]; /* Add spacing between divs (optional) 
  } */

.tool {
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #ddd;
}
.fool {
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #ddd;
}

.tool:hover {
    background-color: #ccc;
}

.bin {
    width: 100px;
    height: 100px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    line-height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
#fsub{
    position: fixed;
    background-color: rgb(30, 128, 158);
    right: 40%;
    bottom: 10%;
}
.data-table {
    border-collapse: collapse;
    width: 40%;
}

.data-table th,
.data-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table-options{
    position: fixed;
    left: 12%;
    bottom: 20%;
}
.inwork{
    opacity: .1;
    background-color: rgb(148, 142, 142);
    height: 150px; 
    border-radius: 5px;
    
}
